.profile-info {
    padding-left: 30px;
    display: grid;
    grid-template-areas:
        "name edit"
        "description description";
    column-gap: 18px;
    row-gap: 16px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr max-content;
}

@media screen and (max-width: 767px) {
    .profile-info {
        padding: 26px 0 0 0;
        row-gap: 14px;
        column-gap: 10px;
    }
}