.pop-up__content {
    max-width: 430px;
    padding: 34px 36px 37px 36px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .pop-up__content {
        max-width: 282px;
        padding: 25px 22px;
    }
}