.pop-up__heading {
    margin: 0 0 54px 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
}

@media screen and (max-width: 767px) {
    .pop-up__heading {
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 75px;
    }
}