.header {
    width: 100%;
    max-width: 880px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        max-width: 700px;
    }
}